/* menu */

.menu{
	display: flex;	
}

.menu-item{
	background: gold;
	/* flex-grow 를 통해서 유연하게 아이템을 늘려준다 */
	width: 25%;
	transition: 0.5s;
}


.menu-item:hover{
	background: crimson;
	width: 35%;
}

.menu-link{
	display: block;
	padding: 1em;
	font-size: 1.2rem;
	font-weight: bold;
	color: #555;
	text-decoration: none;
	text-align: center;
}

.menu-link:hover{
	color:white;
	opacity: 0.8;
}

/* search */

.search-from{
	display: flex;
	height: 40px;
}

.search-from input[type='search']{
	/* flex-grow를 통해서 비율을 늘려준다 */
	flex: 1;
	border-radius: 5px;
	border: none;
	font-size: 1rem;
	margin-right: 10px;
	margin-left: 5px;
	padding-left: 10px;
}

.search-from input[type='submit']{
	border: none;
	background: gold;
	border-radius: 5px;
	width: 4em;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
}

/* bullet list */

.info-list{
	display: flex;
	flex-direction: column;
	margin-right: 0.5em
}

.info-list-item{
	margin: 0.5em 0;
}

/* 가상엘리먼트 ::before를 통해서 문자앞에 넣기 */
.info-list-item::before{
	content: '🍎';
}